<div style="width:900px; margin-left:20%;">
  <p-fieldset>
    <p-header style="color: blue;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: larger;">MON PFE</p-header>
    <h3 style="color:red;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">l'éducation est l'arme la plus<br> puissante pour changer le monde</h3>
    <img src="../../assets/diplome.jpg" height="200" width="200" style="margin-left: 70%;margin-top: -150px;"/>
  </p-fieldset>
  </div>

<div class="inline">
  <p-card class="card1" header="Consulter l'archive des rapports" subheader="vous avez besoin d'un exemple de rapport" [style]="{width: '300px'}" styleClass="p-card-shadow">
  <p-header>
      <img class="img" alt="Card" src="../../assets/cc.jpg">
  </p-header>
  <p>nous metons a votre disposition toute une bibliothèque des rapports des projets de fin d'étude</p>
  <button pButton pRipple type="button" label="details" class="p-button-rounded p-button-success" [routerLink]="['/rapport']" routerLinkActive="router-link-active" ></button>
</p-card>

<p-card  header="Consulter la liste des organismes d'acceuil" class="card2"  subheader="vous etes entrain de chercher d'une entreprise" [style]="{width: '300px'}" styleClass="p-card-shadow">
  <p-header>
      <img class="img" alt="Card" src="../../assets/bat.jpg">
  </p-header>
  <br>
  <p>nous metons a votre disposition un annuaire de organisme d'acceuil</p>
  <button pButton pRipple type="button" label="details" class="p-button-rounded p-button-success" [routerLink]="['/organisme']" routerLinkActive="router-link-active" ></button>

</p-card>



