.inline{
  display: flex;
  margin-left: 250px;
  margin-top: 20px;
}
.card1{
  margin-left: 50px;
  color: darkblue;

}
.p-card-shadow .p-card-title
{
  color: blue;
}
.card2{
  margin-left: 300px;
  color: darkblue;
}
.card3{
  margin-left: 50px;
  color: darkblue;
}
.img{
  height: 150px;
}
